   /* * {
    border: 5px solid gray;
  }  */
  
  #map {
    height: 750px;
    width: 100%;
  }

  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

  .header {
    text-align: center;
  }

  #restaurantType {
    padding: 5px;
    margin-top: 10px;
    width: 210px;
  }

  #output {
    background-color: white;
    margin-top: 20px;
    margin-right: 20px;
    opacity: 80%;
    width: 300px; 
    float: right;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
  }

  .form-control {
    background-color: white;
  }

  #getDirections {
    margin-top: 10px;
  }

  #polygonInfo {
    background-color: white;
    padding: 10px;
    margin-top: 20px;
    margin-left: 20px;
    opacity: 80%;
    width: 225px; 
    float: right;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
  }

  #leftControl {
    background-color: white;
    padding: 3px;
    margin: 20px;
    border: 1px gray;
    opacity: 80%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
  }

  #restaurantTypeContainer {
    padding: 5px;
    margin-bottom: 10px;
  }

  #directionContainer {
    padding: 5px;
    margin-bottom: 10px;
  }